.Project3_Main{
    margin: 50px 0px;
    color: white;
}

.Project3_Content{
    margin: 0px 100px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    backdrop-filter:blur(4px) brightness(110%);
    text-shadow: 1px 1px 2px black;
    box-shadow: 0px 0px 10px black;
    border-radius: 50px;
    border: 1px solid black;
}

.Project3_Box{
    display: flex;
}

.Project3_Image_box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Project3_Image{
    height: 350px;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.Project3_Image_Text{
    position: absolute;
    font-size: 70px;
    color: rgb(255, 255, 255);
    opacity: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    border-radius: 20px;
}

.Project3_Image_Text:hover{
    opacity: 1;
    backdrop-filter:blur(5px) brightness(50%);
}

.Project3_information{
   margin-left: 50px;
}
.Project3_GitHub_Box{
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 30px;
    background-color: white;
    text-decoration: none;
    width: 180px;
    transition-duration: 0.2s;
}
.Project3_GitHub_Box:hover{
    box-shadow: rgb(0, 255, 42) 1px 0 10px;
}

.Project3_Github_Logo{
    width: 50px;
    margin: 0px 10px;
}

.Project3_Github_Title{
    color: black;
}

@media only screen and (max-width: 1480px) {
    .Project3_Box{
        display: flex;
        flex-direction: column;
    }
    .Project3_Image{
        height: auto;
        width: 100%;
    }
    .Project3_information{
        margin-top: 30px;
     }
}

@media only screen and (max-width: 1345px) {
    .Project3_Box{
        align-items: center;
    }
    .Project3_Image_box{
        width: 80%;
    }
    .Project3_information{
        width: 85%;
     }
}