body {
  margin: 0;
  font-family: "Open Sans",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://res.cloudinary.com/dyiymsxec/image/upload/v1674490582/Portfolio/Halo_Infinite_Into_The_Night_With_Logo_muzwji.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
